./ft_transcendence_42/ft_transcendence/myenv
./ft_transcendence_42/ft_transcendence/venv
ft_transcendence_42/ft_transcendence/venv/
ft_transcendence_42/ft_transcendence/ft_transcendence/__pycache__/
ft_transcendence_42/ft_transcendence/transcendence/__pycache__/
./ft_transcendence_42/ft_transcendence/ft_transcendence/__pycache__/
ft_transcendence_42/ft_transcendence/ft_transcendence/__pycache__/__init__.cpython-310.pyc
ft_transcendence_42/ft_transcendence/ft_transcendence/__pycache__/asgi.cpython-310.pyc
ft_transcendence_42/ft_transcendence/ft_transcendence/__pycache__/settings.cpython-310.pyc
ft_transcendence_42/ft_transcendence/ft_transcendence/__pycache__/urls.cpython-310.pyc
