ft_transcendence_42/ft_transcendence/venv/
./ft_transcendence_42/ft_transcendence/myenv
./ft_transcendence_42/ft_transcendence/venv
ft_transcendence_42/ft_transcendence/venv/
ft_transcendence_42/ft_transcendence/ft_transcendence/__pycache__/
ft_transcendence_42/ft_transcendence/transcendence/__pycache__/
ft_transcendence_42/ft_transcendence/transcendence/migrations/
./ft_transcendence_42/ft_transcendence/ft_transcendence/__pycache__/
ft_transcendence_42/ft_transcendence/ft_transcendence/__pycache__/__init__.cpython-310.pyc
ft_transcendence_42/ft_transcendence/ft_transcendence/__pycache__/asgi.cpython-310.pyc
ft_transcendence_42/ft_transcendence/ft_transcendence/__pycache__/settings.cpython-310.pyc
ft_transcendence_42/ft_transcendence/ft_transcendence/__pycache__/urls.cpython-310.pyc

ft_transcendence_42/ft_transcendence/transcendence/migrations/__pycache__/0009_alter_user_photo.cpython-310.pyc
ft_transcendence_42/ft_transcendence/transcendence/migrations/__pycache__/0008_alter_user_photo.cpython-310.pyc
ft_transcendence_42/ft_transcendence/transcendence/migrations/__pycache__/0007_alter_user_nickname.cpython-310.pyc
ft_transcendence_42/ft_transcendence/transcendence/migrations/__pycache__/0005_profile.cpython-310.pyc
ft_transcendence_42/ft_transcendence/transcendence/migrations/__pycache__/0004_user_description_user_nickname.cpython-310.pyc
ft_transcendence_42/ft_transcendence/transcendence/migrations/__pycache__/0002_alter_friend_options_alter_friend_unique_together_and_more.cpython-310.pyc
ft_transcendence_42/ft_transcendence/transcendence/migrations/__pycache__/0001_initial.cpython-310.pyc
ft_transcendence_42/ft_transcendence/transcendence/migrations/__pycache__/__init__.cpython-310.pyc
ft_transcendence_42/ft_transcendence/transcendence/__pycache__/views.cpython-310.pyc
ft_transcendence_42/ft_transcendence/transcendence/__pycache__/urls.cpython-310.pyc
ft_transcendence_42/ft_transcendence/transcendence/__pycache__/routing.cpython-310.pyc
ft_transcendence_42/ft_transcendence/transcendence/__pycache__/models.cpython-310.pyc
ft_transcendence_42/ft_transcendence/transcendence/__pycache__/group_chat_consumer.cpython-310.pyc
ft_transcendence_42/ft_transcendence/transcendence/__pycache__/game.cpython-310.pyc
ft_transcendence_42/ft_transcendence/transcendence/__pycache__/consumers.cpython-310.pyc
ft_transcendence_42/ft_transcendence/transcendence/__pycache__/chat_consumer.cpython-310.pyc
ft_transcendence_42/ft_transcendence/transcendence/__pycache__/apps.cpython-310.pyc
ft_transcendence_42/ft_transcendence/transcendence/__pycache__/admin.cpython-310.pyc
ft_transcendence_42/ft_transcendence/transcendence/__pycache__/__init__.cpython-310.pyc
