body {
	background-color: #e66649;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	min-height: 100vh;
	color: #333;
	background-image: url('/static/transcendence/42po.png'); /* Path to your image */
	background-repeat: no-repeat; /* Prevent the image from repeating */
	background-position: center center; /* Center the image horizontally and vertically */
	background-size: 300px 300px; /* Ensure the image keeps its original dimensions */
}
