.columns-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .column {
    margin-top: 2%;
    flex: 1;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .column h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .column ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .column ul li {
    padding: 5px;
    text-align: center;
    background-color: #ffffff;
    margin-bottom: 5px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }