.new_post{
    border: 1px solid rgba(128, 128, 128, .5);
    margin: 20px
}

.post{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 20px;
}

.post_border{
    border: 1px solid rgba(128, 128, 128, .5);
    margin: 20px
}

.content{
    font-size: 15px;
}

.author{
    font-size: 20px;
}

.date{
    color: gray;
    font-size: 15px;
}

.all_posts .post_border .post .kll .button-like-link {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font: inherit;
}

textarea{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
}

.info{
    margin-left: 14px;
}