{% extends "pong_app/layout.html" %}
{% load static %}
{% block body %}
<div id="content" class="body">

    <div class="sidebar">
        <ul>
            <a href="/profile/{{ user.username }}" class="ajax-link">Profile</a>
            <a href="/profile_settings/" class="ajax-link">Settings</a>
            <a href="/friend_requests/" class="ajax-link">Friend Requests</a>
            <a href="/blockedPeople/" class="ajax-link">Blocked people</a>
            <a href="/full_match_history/{{ user.username }}" class="ajax-link">Match History</a>
            <a href="/full_friends_list/{{ user.username }}" class="ajax-link">Friends</a>
        </ul>
    </div>
    <h2 class="mx-5">Blocked people:</h2>
    {% for b in block_list %}
        <div style="display: flex; align-items: center; margin-bottom: 10px;">
            <img src="{{ b.photo.url }}" alt="avatar" style="width: 25px; height: 25px; border-radius: 50%; margin-right: 10px;">
            <li style="font-size: 18px; margin-right: 20px;"><a href="/profile/{{ b }}" class="ajax-link">{{ b }}</a></li>
        </div>
    {% endfor %}
</div>
{% endblock %}