{% extends "pong_app/layout.html" %}
{% load static %}
{% block body %}
<div id="content" class="body">

    <div class="sidebar">
        <ul>
            <a href="#" onclick="navigate('/profile/{{ user.username }}')">Profile</a>
                <a href="#" onclick="navigate('/profile_settings/')">Settings</a>
                <a href="#" onclick="navigate('/friend_requests/')">Friend Requests</a>
                <a href="#" onclick="navigate('/blockedPeople/')">Blocked people</a>
                <a href="#" onclick="navigate('/full_match_history/{{ user.username }}')">Match History</a>
                <a href="#" onclick="navigate('/full_friends_list/{{ user.username }}')">Friends</a>
        </ul>
    </div>
    <h2 class="mx-5">Blocked people:</h2>
    {% for b in block_list %}
        <div style="display: flex; align-items: center; margin-bottom: 10px;">
            <img src="{{ b.photo.url }}" alt="avatar" style="width: 25px; height: 25px; border-radius: 50%; margin-right: 10px;">
            <li style="font-size: 18px; margin-right: 20px;"><a href="#" onclick="navigate('/profile/{{ b }}')">{{ b }}</a></li>
        </div>
    {% endfor %}
</div>
{% endblock %}