<div class="d-flex justify-content-center profile-actions-container" id="profile-actions-container">
    {% if not is_owner %}
        {% csrf_token %}
        <div id="profile-actions-content">
                <button id="send-request-btn" data-action="send_request" class="profile-action-btn">Send friend request</button>

            {% if block_user %}
                <button id="unblock-user-btn" data-action="unblock_user" data-username="{{ username }}" class="profile-action-btn btn-danger">Unblock</button>
            {% else %}
                <button id="block-user-btn" data-action="block_user" data-username="{{ username }}" class="profile-action-btn btn-danger">Block</button>
            {% endif %}
        </div>
    {% endif %}
</div>
