{% extends "pong_app/layout.html" %}

{% block body %}
    <h1>Doublejack</h1>
	<canvas id="gameCanvas" width="800" height="400" style="border:1px solid black;">
		
	</canvas>
	<p></p>
	<!-- waiting on others -> start-> waiting on others -> reset -> hit ->reset / end -->
	 <!-- resume? -->
	<!-- timing send // disconnect handling-->
	<div id="time" style="height: 30px; align-content: center;">
		<p>Time...</p>
	</div>
	<div id="buttons" style="height: 60px; align-content: center;">
		<button id="join">JOIN !</button>
	</div>
	<div id="test"></div>
	<p></p>
	<div id="name">name</div>
	<div id="role">role (spectator)</div>
	<div id="hand">hand</div>
	<div id="score">score</div>
	<div id="Oponent">oponent</div>
	<div id="other_hand">hand</div>
	<div id="other_score">score</div>

    <p>Status: <span id="status">Not connected</span></p>

    <script>
        // Establish WebSocket connection
		id = 0;
        const ws = new WebSocket(`ws://${window.location.host}/ws/doublejack/`);

        // Set status message when WebSocket opens
        ws.onopen = function(event) {
            document.getElementById('status').textContent = 'Connected to WebSocket';
        };

        // Handle messages received from the WebSocket
        ws.onmessage = function(event) {
            const data = JSON.parse(event.data);
			if (data && data.joined) {
				id = data.joined;
			}
			if (data && data.reset) {
				document.getElementById('buttons').innerHTML = '<button id="reset">RESET !</button>'
				document.getElementById('reset').onclick = function() {
					const message = {
						action: 'reset'  // This is the action we'll send to the WebSocket
					};
					ws.send(JSON.stringify(message));  // Send the action to WebSocket
				};
			}
			if (data && data.set) {
				document.getElementById('buttons').innerHTML = '<button id="hit">HIT !</button><button id="stay">STAY!</button>'
				document.getElementById('hit').onclick = function() {
					const message = {
						action: 'hit'  // This is the action we'll send to the WebSocket
					};
					ws.send(JSON.stringify(message));  // Send the action to WebSocket
				};
				document.getElementById('stay').onclick = function() {
					const message = {
						action: 'stay'  // This is the action we'll send to the WebSocket
					};
					ws.send(JSON.stringify(message));  // Send the action to WebSocket
				};
			}
			if (data && data.disable) {
				document.getElementById('buttons').innerHTML = '<p>Waiting for the other player...</p>'
				// document.getElementById('buttons').innerHTML = '<button id="hit" disabled>HIT !</button><button id="stay" disabled>STAY!</button>'
				// document.getElementById('hit').onclick = function() {
				// 	const message = {
				// 		action: 'hit'  // This is the action we'll send to the WebSocket
				// 	};
				// 	ws.send(JSON.stringify(message));  // Send the action to WebSocket
				// };
				// document.getElementById('stay').onclick = function() {
				// 	const message = {
				// 		action: 'stay'  // This is the action we'll send to the WebSocket
				// 	};
				// 	ws.send(JSON.stringify(message));  // Send the action to WebSocket
				// };
			}
            if (data && data.color && data.role && id == data.role) {
                // Change the background color when a message is received
                document.body.style.backgroundColor = data.color;
            }
			if (data && data.name && data.role && id == data.role) {
                // Change the background color when a message is received
				document.getElementById('name').innerHTML = data.name;
            }
			if (data && data.role && data.role && id == data.role) {
                // Change the background color when a message is received
				document.getElementById('role').innerHTML = data.role;
				
            }
			if (data && data.hand && data.role && id == data.role) {
                // Change the background color when a message is received
				document.getElementById('hand').innerHTML = data.hand;
            }
			if (data && data.score && data.role && id == data.role) {
                // Change the background color when a message is received
				document.getElementById('score').innerHTML = data.score;
            }
			if (data && data.hand && data.role && id != data.role) {
                // Change the background color when a message is received
				document.getElementById('other_hand').innerHTML = data.hand;
            }
			if (data && data.score && data.role && id != data.role) {
                // Change the background color when a message is received
				document.getElementById('other_score').innerHTML = data.score;
            }
			if (data && data.countdown) {
                // Change the background color when a message is received
				document.getElementById('time').innerHTML = data.countdown;
            }
        };

        // Handle WebSocket error
        ws.onerror = function(error) {
            console.error('WebSocket Error:', error);
            document.getElementById('status').textContent = 'WebSocket Error';
        };

        // Handle WebSocket closure
        ws.onclose = function(event) {
            document.getElementById('status').textContent = 'WebSocket connection closed';
        };

        // Send a signal when the button is clicked
		document.getElementById('join').onclick = function() {
            const message = {
                action: 'join'  // This is the action we'll send to the WebSocket
            };
            ws.send(JSON.stringify(message));  // Send the action to WebSocket
        };
    </script>
{% endblock %}