{% extends "pong_app/layout.html" %}

{% block body %}
    <h1>Doublejack</h1>
	<canvas id="gameCanvas" width="800" height="400" style="border:1px solid black;">
		
	</canvas>
	<p></p>
	<button id="hit">HIT !</button>
	<button id="stay">STAY!</button>
	<p></p>
	<div id="name">name</div>
	<div id="role">role (spectator)</div>
	<div id="hand">hand</div>
	<div id="score">score</div>

    <p>Status: <span id="status">Not connected</span></p>

    <script>
        // Establish WebSocket connection
        const ws = new WebSocket(`ws://${window.location.host}/ws/doublejack/`);

        // Set status message when WebSocket opens
        ws.onopen = function(event) {
            document.getElementById('status').textContent = 'Connected to WebSocket';
        };

        // Handle messages received from the WebSocket
        ws.onmessage = function(event) {
            const data = JSON.parse(event.data);
            if (data && data.color) {
                // Change the background color when a message is received
                document.body.style.backgroundColor = data.color;
            }
			if (data && data.name) {
                // Change the background color when a message is received
				document.getElementById('name').innerHTML = data.name;
            }
			if (data && data.role) {
                // Change the background color when a message is received
				document.getElementById('role').innerHTML = data.role;
            }
			if (data && data.hand) {
                // Change the background color when a message is received
				document.getElementById('hand').innerHTML = data.hand;
            }
			if (data && data.score) {
                // Change the background color when a message is received
				document.getElementById('score').innerHTML = data.score;
            }
        };

        // Handle WebSocket error
        ws.onerror = function(error) {
            console.error('WebSocket Error:', error);
            document.getElementById('status').textContent = 'WebSocket Error';
        };

        // Handle WebSocket closure
        ws.onclose = function(event) {
            document.getElementById('status').textContent = 'WebSocket connection closed';
        };

        // Send a signal when the button is clicked
        document.getElementById('hit').onclick = function() {
            const message = {
                action: 'hit'  // This is the action we'll send to the WebSocket
            };
            ws.send(JSON.stringify(message));  // Send the action to WebSocket
        };
		document.getElementById('stay').onclick = function() {
            const message = {
                action: 'stay'  // This is the action we'll send to the WebSocket
            };
            ws.send(JSON.stringify(message));  // Send the action to WebSocket
        };
    </script>
{% endblock %}