{% extends "pong_app/layout.html" %}
{% load static %}
{% block body %}
<div id="content" class="body">
      <form id="find-tournament-form" onsubmit="event.preventDefault(); navigateToTournament();">
          {% csrf_token %}
          <div>
              <input autofocus class="form-control" type="text" id="tournament-input" placeholder="Tournament">
          </div>
          <button id="tournament-button">Join Lobby</button>
      </form>
      <img src="../media/eth.png" alt="Ethereum Coin" width="70" height="70">
      <p id="results-message" style="color: black;"></p>
      <p id="error-message" style="color: #1abc9c;"></p>

      <script src="{% static 'js/findTournament.js' %}"></script>
</div>

{% endblock %}