{% extends "pong_app/layout.html" %}
{% load static %}
{% block body %}
<div id="content" class="body">
      <form id="find-lobby-form" onsubmit="event.preventDefault(); navigateToLobby();">
        {% csrf_token %}
          <div>
              <input autofocus class="form-control" type="text" id="lobby-input" placeholder="Lobby">
          </div>
          <button id="lobby-button">Join Lobby</button>
      </form>
      <p id="error-message" style="color: #1abc9c;"></p>
      <script src="{% static 'js/findLobby.js' %}"></script>
</div>


{% endblock %}
