{% extends "pong_app/layout.html" %}
{% load static %}
{% block body %}

<head>
	<link type="text/css" href="{% static 'transcendence/style_other.css' %}" rel="stylesheet">
</head>
<div id="content" class="body">
      <form id="find-tournament-form" onsubmit="event.preventDefault(); navigateToTournament();">
          {% csrf_token %}
          <div>
              <input autofocus class="form-control" type="text" id="tournament-input" placeholder="tournament">
          </div>
          <div class="find-tournament">
              <a href="#" id="find-tournament-link" onclick="navigateToTournament()">Find tournament</a>
          </div>
      </form>
      <p id="error-message" style="color: red;"></p>
	  {% if blockchain_template %}
	  	{% include blockchain_template %}
	  {% endif %}
      <script src="{% static 'js/findTournament.js' %}"></script>
	  <script src="{% static 'js/wallet.js' %}"></script>

</div>

{% endblock %}