{% extends "pong_app/layout.html" %}
{% load static %}
{% block body %}

<div id="content" class="body">
    <div class="profile-page-container">
        <!-- Sidebar -->
        <div class="sidebar">
            <ul>
                <a href="#" onclick="navigate('/profile/{{ username }}')">Profile</a>
                {% if is_owner %}
                    <a href="#" onclick="navigate('/profile_settings/')">Settings</a>
                    <a href="#" onclick="navigate('/friend_requests/')">Friend Requests</a>
                    <a href="#" onclick="navigate('/blockedPeople/')">Blocked people</a>
                {% endif %}
                {% if is_owner or friend %}
                    <a href="#" onclick="navigate('/full_match_history/{{ username }}')">Match History</a>
                    <a href="#" onclick="navigate('/full_friends_list/{{ username }}')">Friends</a>
                {% endif %}
            </ul>
        </div>

    {% if is_owner %}
      <form id="find-friend-form" onsubmit="event.preventDefault(); navigateToProfile();">
          <div>
              <input autofocus class="form-control" type="text" id="username-input" placeholder="Username">
          </div>
          <div class="find-friend">
              <a href="#" id="find-friend-link" onclick="navigateToProfile()">Find friend</a>
          </div>
          {% csrf_token %}
      </form>
      <p id="error-message" style="color: red;"></p>
      <script src="{% static 'js/findFriend.js' %}"></script>
    {% endif %}


  <h1>{{username}}'s friends</h1>

      {% for friend in page_obj %}
      <div class="friend-item" data-name="{{ friend.username }}" style="display: flex; align-items: center; margin-bottom: 10px;">
          <div class="status-indicator" style="width: 10px; height: 10px; border-radius: 50%; background-color: red; margin-right: 5px;"></div>
          <img src="{{ friend.photo.url }}" alt="avatar" style="width: 25px; height: 25px; border-radius: 50%; margin-right: 10px;">
          <li style="font-size: 18px; margin-right: 20px;">
              <a href="#" onclick="navigate('/profile/{{ friend.username  }}')">{{ friend.username }}</a>
          </li>
          <span class="status-indicator {% if friend.is_online %}online{% else %}offline{% endif %}"></span>
      </div>
      {% endfor %}


      <div class="pagination">
        {% if page_obj.has_previous %}
          <a href="#" onclick="navigate('/full_match_history/{{username}}?page=1')">First</a>
          <a href="#" onclick="navigate('/full_match_history/{{username}}?page={{ page_obj.previous_page_number  }}')">Last</a>
        {% endif %}

        <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
          <a href="#" onclick="navigate('/full_match_history/{{username}}?page={{ page_obj.next_page_number  }}')">Next</a>
          <a href="#" onclick="navigate('/full_match_history/{{username}}?page={{ page_obj.paginator.num_pages  }}')">Last</a>
        {% endif %}
      </div>
  </div>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th, td {
      padding: 8px;
      text-align: left;
      border: 1px solid #ddd;
    }
    th {
      background-color: #f4f4f4;
    }
    tr:nth-child(even) {
      background-color: #f9f9f9;
    }
    tr:hover {
      background-color: #f1f1f1;
    }
    .pagination {
      margin: 20px 0;
      display: flex;
      justify-content: center;
    }
    .pagination a, .pagination span {
      margin: 0 5px;
      padding: 8px 12px;
      text-decoration: none;
      color: #007bff;
      border: 1px solid #ddd;
      border-radius: 4px;
    }
    .pagination a:hover {
      background-color: #f1f1f1;
    }
    .pagination .current {
      font-weight: bold;
      background-color: #007bff;
      color: white;
      border: 1px solid #007bff;
    }
  </style>
</div>


{% endblock %}