{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Pong{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'transcendence/42po.png' %}">
    <link type="text/css" href="{% static 'transcendence/style.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'transcendence/style_other.css' %}" rel="stylesheet">
</head>
<body>
    <!-- Static Navbar -->
    <nav>
        <a href="#" onclick="navigate('/')">Main page</a>
        <span id="user-links">
            {% include user_links_template %}
            {% if content_template %}
              {% include content_template %}
            {% endif %}
        </span>
    </nav>

    <!-- Dynamic Content -->
    <div id="content" class="body">
        <h1>Welcome to the Pong game!</h1>
        <h5>hello page</h5>
    </div>


    <!-- CSRF token -->
    <script>
        const csrfToken = '{{ csrf_token }}';
    </script>

    <!-- JavaScript -->
    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>