{% load static %}

<head>
	<link type="text/css"  href="{% static 'transcendence/style_other.css' %}" rel="stylesheet">
</head>

<!DOCTYPE html>
<html lang="en">
    <head>

        <head>
            <title>Pong</title>
            <link rel="icon" type="image/png" href="/static/transcendence/42po.png">
          </head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Pong{% endblock %}</title>
        <link rel="icon" type="image/png" href="{% static 'transcendence/42po.png' %}">
        <link type="text/css" href="{% static 'transcendence/style.css' %}" rel="stylesheet">
    </head>
    <body>


        <!-- <h1>Welcome to the Pong game!</h1> -->
        <nav>
            <a href="#" onclick="navigate('/')">Main page</a>
            <span id="user-links">
                {% if user.is_authenticated %}
                    <a href="#" onclick="navigate('/profile/{{ user.username }}')">
                        <strong>{{ user.username }}</strong>
                        <span id="friend-requests-badge"></span>
                    </a>
                    <a href="#" onclick="logOut()">Log out</a>
                    <a href="#" onclick="navigate('/chat')">Chat</a>
                    <a href="#" onclick="navigate('/find_lobby')">Pong</a>
                    <a href="#" onclick="navigate('/bot')">Play Pong With Bot</a>
                    <a href="#" onclick="navigate('/doublejack')">Doublejack</a>

                    <script src="{% static 'js/logout.js' %}"></script>
                {% endif %}
                {% if not user.is_authenticated %}
                    <a href="#" onclick="navigate('/login')">Login</a>
                    <a href="#" onclick="navigate('/register')">Sign Up</a>
                {% endif %}
            </span>
        </nav>

        <!-- Content Block -->

        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
        <script src="{% static 'js/script.js' %}"></script>

    </body>


        {% block scripts %}
        {% endblock %}
    </body>

</html>
