{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>       
        <title>Pong</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Pong{% endblock %}</title>
        <link type="text/css" href="{% static 'transcendence/style.css' %}" rel="stylesheet">
    </head>
    <body>
            <span id="user-links">
                <div class="navbar">
                    <a href="/" class="ajax-link">Main page</a>
                {% if user.is_authenticated %}
                    <a href="/profile/{{ user.username }}" class="ajax-link">{{ user.username }}</a>
                    <a href="/chat" class="ajax-link">Chat</a>
                    <a href="/find_lobby" class="ajax-link">Pong</a>
                    <a href="/bot" class="ajax-link">Play Pong With Bot</a>
                    <a href="/find_doublejack" class="ajax-link">Doublejack</a>
                    <a href="/find_tournament/" class="ajax-link">Tournament</a>
                    <form id="logout-button-form" onsubmit="event.preventDefault(); logOut();">
                        <button id="logout-button">Log out</button>
                    </form>
                    <script src="{% static 'js/logout.js' %}"></script>
                {% else %}
                    <a href="/login" class="ajax-link">Login</a>
                    <a href="/register" class="ajax-link">Sign Up</a>
                {% endif %}
                </div>
            </span>      
        

        <!-- Content Block -->

        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
        <script src="{% static 'js/script.js' %}"></script>

    </body>


        {% block scripts %}
        {% endblock %}
    </body>

</html>
