
{% extends "pong_app/layout.html" %}
{% load static %}
{% block body %}

<div id="content" class="body">
    <div id="gameData" data-room-lobby="{{ tournament_id }}"></div>
      <div id="TournamentData" data-room-lobby="{{ tournament_id }}" data-username="{{ tournament_nickname }}"></div>
      <h1>Tournament  {{ tournament_id }}</h1>
      <button id="leaveLobbyButton">Leave Lobby</button>
      
        
      <p id="status">Waiting to connect...</p>

      <canvas id="tournamentCanvas" width="800" height="400"></canvas>
  
      <div id="connection-status"></div>
      <button id="readyButton">I'm Ready For Tournament</button>    
      <h2><ul id="ready-players-list"></ul></h2>
      <div class="columns-container">
        <div class="column">
            <h3>Spectators</h3>
            <ul id="spectators-list"></ul>
        </div>
        <div class="column">
            <h3>Ready Tournament Players</h3>
            <ul id="ready-tournament-players-list"></ul>
        </div>
        <div class="column">
            <h3>Round Winners</h3>
            <ul id="winners-list"></ul>
        </div>
    </div>
    
      
      <link type="text/css" href="{% static 'transcendence/style_tournament.css' %}" rel="stylesheet">
      <script src="{% static 'js/tournament.js' %}"></script>
</div>

{% endblock %}