
{% extends "pong_app/layout.html" %}
{% load static %}
{% block body %}

<div id="content" class="body">
    <div id="gameData" data-room-lobby="{{ tournament_id }}"></div>
    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Ping Pong Tournament</title>
      <style>
        body {
          font-family: Arial, sans-serif;
          text-align: center;
        }
        canvas {
          border: 2px solid #000;
          margin: 20px auto;
          display: block;
        }
        #controls {
          margin: 10px;
        }
        #status {
          font-size: 18px;
          font-weight: bold;
        }
      </style>
    </head>
    <body>
      <div id="TournamentData" data-room-lobby="{{ tournament_id }}" data-username="{{ tournament_nickname }}"></div>
      <h1>Ping Pong Tournament</h1>
      <h1>Lobby {{ tournament_id }}</h1>
      <button id="leaveLobbyButton">Leave Lobby</button>
      <button id="readyButton">I'm Ready For Tournament</button>

      <p id="status">Waiting to connect...</p>


      <canvas id="gameCanvas" width="800" height="400"></canvas>

      <div id="connection-status"></div>
      <div id="tournamentState">
        <h2><ul id="ready-players-list"></ul></h2>

        <h2>Ready Tournament Players</h2>
        <ul id="ready-tournament-players-list"></ul>

        <h2>Spectators</h2>
        <ul id="spectators-list"></ul>
      
        <h2>Round Winners</h2>
        <ul id="winners-list"></ul>
      

      </div>
      
  
      <script src="{% static 'js/tournament.js' %}"></script>

    </body>
    </html>
</div>

{% endblock %}