{% load static %}
<a href="#" onclick="navigate('/profile/{{ user.username }}')">
    <strong>{{ user.username }}</strong>
</a>
<a href="#" onclick="logOut()">Log out</a>
<a href="#" onclick="navigate('/chat/')">Chat</a>
<a href="#" onclick="navigate('/pong/')">Pong</a>
<a href="#" onclick="navigate('/bot/')">Play Pong With Bot</a>
<a href="#"  onclick="startPongGame()">Play Pong With Bot2</a>

<a href="#" onclick="loadPage('/doublejack/')">Doublejack</a>

<script src="{% static 'js/logout.js' %}"></script>