{% load static %}
<a href="#" onclick="navigate('/profile/{{ user.username }}')">
    <strong>{{ user.username }}</strong>
</a>
<a href="#" onclick="logOut()">Log out</a>
<a href="#" onclick="navigate('/chat/')">Chat</a>
<a href="#" onclick="navigate('/find_lobby/')">Pong</a>
<a href="#" onclick="navigate('/bot/')">Play Pong With Bot</a>
<a href="#" onclick="navigate('/find_doublejack/')">Doublejack</a>
<a href="#" onclick="navigate('/find_tournament/')">Tournament</a>

<script src="{% static 'js/logout.js' %}"></script>